body {
  margin: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #2e354f;
  text-align: center;
}

header {
  background-color: #236;
  margin: 0;
  padding: 20px;
}

h1 {
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #ef5839;
  color: #fff;
  text-decoration: none;;
  border-radius: 15px;
  margin: 0 0 15px 30px;
  width: 80px;
  display: none;
}

.start:hover,
.start:focus {
  color: #2e354f;
  background: #d4b44c;
}

.grid {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border-width: 1.5em;
  border-style: ridge;
  border-color: saddlebrown;
  background-color: grey;
  margin: 1em auto;
}

.grid div {
  width: 30px;
  height: 30px;
}

.snake {
  background-color: seagreen;
}

#heart-count {
  display: inline-block;
}

/* 
Heart shape using CSS
Sourced from: https://css-tricks.com/the-shapes-of-css/
*/

.heart {
  position: relative;
  width: 30px;
  height: 20px;
  /* border: solid black 1px; */
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 15px;
  top: 0;
  width: 15px;
  height: 25px;
  background: firebrick;
  border-radius: 25px 25px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.snakehead {
  position: relative;
  background: seagreen;
  height: 10px;
  width: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.snakehead:before,
.snakehead:after {
  content: '';
  position: absolute;
  border: 3px solid goldenrod;
  border-radius: 100%;
  top: 10px;
  left: 7px;
}
.snakehead:after {
  left: auto;
  right: 7px;
  transform: rotate(140deg);
}

footer {
  padding: 10px;
  background-color: #124;
}

#joy1Div {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}